.detail {
 margin-top: 130px;

    .content {
        .title {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 36px;
            line-height: 111%;
            color: var(--zagol);
            text-align: start;
        }

        .data {
            width: 900px;
            display: flex;
            justify-content: space-around;
            font-family: var(--font4);
            font-weight: 400;
            font-size: 18px;
            line-height: 111%;
            color: #000;
            margin: 30px 0 50px;

            .author {
                font-family: var(--font4);
                font-weight: 400;
                font-size: 18px;
                line-height: 111%;
                color: var(--dop);
                margin: 0;
            }
        }

        p {
            font-family: var(--third-family);
            font-weight: 400;
            font-size: 26px;
            line-height: 123%;
            color: var(--osnov);
            margin-top: 60px;
        }

        .step {
            color: rgb(70, 70, 254);
            font-family: var(--third-family);
            font-weight: 400;
            font-size: 26px;
            line-height: 123%;
        }
    }
}