.header {
    position: fixed;
    top: 0;
    z-index: 2;

    .content {
        display: flex;
        padding: 31px 48px;
        margin-left: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 79px;
    }

    .catalogs {
        display: flex;
        list-style: none;
        color: #fff;
        gap: 20px;
        width: 1070px;
        height: 49px;
        .nodirection {
            margin-top: 17px;
            text-decoration: none;
            color: white;
        }
        .nodirection:hover{
            color: #8e8d8d;
        }

        .li {
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 105px;
        }

        .languages {
            display: flex;
            align-items: center;
            margin-left: 170px;
            cursor: pointer;
        }

        .buttonLeav {
            border-radius: 10px;
            width: 182px;
            height: 49px;
            background: #fff;
            border: none;
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 20px;
            color: #134397;
        }

        .buttonLeav:hover {
            background-color: #134397;
            color: white;
            transition: 0.5s;
        }
    }
}