.button{
    border-radius: 50px;
    width: 362px;
    height: 90px;
    background-color: #25A5E4;
    border: none;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: -60px;
    margin-left: 100px;

    text-decoration: none;
    
    img{
        margin-left: 20px;
        cursor: pointer;
    }
    img:hover{
     transform: scale(1.4);
        opacity: 2;
    }
    .p{
font-family: Gilroy-Bold;
font-weight: 400;
font-style: ☞;
font-size: 20px;
        color: #fff;
    }
}