
.articleCard {
    border: 3px solid rgb(1, 1, 184);
    border-radius: 30px;
    padding: 25px;
    width: 432px;
    background: #fff;
    margin-bottom: 40px;
    text-align: start;
}

.articleTitle {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 25px;
    text-transform: capitalize;
    color: #000;
    margin: 20px 0 10px;
}

.articleDescription {
    margin: 0 0 15px 0;
    color: #555;
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 10px;
}

.articleFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articleCategory {
    color: #888;
    font-size: 14px;
}

.readMore {
    color: #d4a017;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;

    &:hover {
        text-decoration: underline;
    }
}