.button{
        border-radius: 10px;
        height: 59px;
        background-color: white;
        border: none;
        font-size: 24px;
        padding: 15px;
        color: #134397;
                     cursor: pointer;
    background-image: linear-gradient(to right,#D23216); 
    background-size: 0% 100%; 
    background-repeat: no-repeat;
    transition: background-size 1s ease, background-color 1s ease, color 1s ease;
    }
.button:hover{
        background-size: 100% 100%; 
        color: white;
}