.contacts {
    background: white;
    display: flex;
    padding: 105px 0;
    max-width: 100%;

    .content {
        display: flex;
        gap: 96px;

        .left {
            min-width: 300px;
            gap: 35px;
        }

        .title {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 46px;
            line-height: 109%;
            color: #d62828;
        }

        .text {
            font-family: var(--third-family);
            font-weight: 400;
            font-size: 22px;
            color: #000;
        }

        .subtitle {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 26px;
            line-height: 135%;
            color: var(--zagol);
        }

        .contactInfo {
            margin-top: 35px;
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 26px;
            line-height: 135%;
            color: var(--zagol);
            gap: 12px;
        }

        .contactInfo p {
            display: flex;
            align-items: center;
            gap: 10px;
            margin: 8px 0;
        }

        .icon {
            color: #d62828;
        }

        .contactInfo a {
            color: #0A2463;
            text-decoration: none;
        }

        .form {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .row {
            display: flex;
            gap: 21px;
        }

        input {
            background: #fbf3ec;
            border-radius: 7px;
            padding: 15px 23px;
            width: 420px;
            border: none;
            font-family: var(--font6);
            font-weight: 300;
            font-size: 14px;
            line-height: 107%;
            outline: none;
            letter-spacing: 0.02em;
            color: #8f8f8f;
        }

        h3 {
            font-family: var(--third-family);
            font-weight: 400;
            font-size: 18px;
            line-height: 83%;
            letter-spacing: 0.01em;
            color: #000;
            margin-bottom: 6px;
        }

        .row input {
            border-radius: 7px;
            padding: 15px 23px;
            width: 200px;
        }

        textarea {
            width: 420px;
            padding: 12px;
            border: none;
            border-radius: 6px;
            background: #fff6f0;
            outline: none;
            font-family: var(--font6);
            font-weight: 300;
            font-size: 14px;
            line-height: 107%;
            letter-spacing: 0.02em;
            color: #8f8f8f;
        }

        textarea {
            resize: none;
            border-radius: 7px;
            padding: 15px 23px;
            height: 147px;
        }

        .sendBtn {
            border-radius: 10px;
            width: 180px;
            height: 59px;
            font-family: var(--font3);
            font-weight: 700;
            font-size: 24px;
            text-align: center;
            color: #fff;
            background: #d62828;
            border: none;
             cursor: pointer;
    background-image: linear-gradient(to right,#134397); 
    background-size: 0% 100%; 
    background-repeat: no-repeat;
    transition: background-size 1s ease, background-color 1s ease, color 1s ease;
        }

        .sendBtn:hover {
        background-size: 100% 100%; 
        color: white;
        }

    }
}