.button{
    margin-top: 30px;
    margin-left: 377px;
    width: 348px;
        border-radius: 10px;
        height: 59px;
        background-color: white;
        border: none;
        font-size: 24px;
        padding: 15px;
        color: #134397;
    }