.section{
    margin-top: 140px;
    width: 100%;
    .content{
        width: 1250px;
height: 547px;
        padding-left: 95px;
        padding-right: 95px;
        .box{
            margin-top: 60px;
            width: 1250px;
height: 387px;
        }
    }
}